<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinovotec.sinovoble" >
    <!-- BLE权限 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- 设置蓝牙 需要的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 5.0以上的手机可能会需要这个权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
